body {
  padding: 20%;
  margin: 0%;
}
.meniu {
  background: rgb(118, 184, 132);
  border: 1px solid rgb(199, 53, 53);
  margin: inherit;
}
.att {
  border: 1px solid rgb(199, 53, 53);
}
.pup {
  background: lightblue;

}