
/*main background*/
.maincore {
  
}
/*center website*/
.mainsite {
  

}
.headertop {
  background-image: url(“picture/ch.jpg”);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.headertext {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  }

.navup {
  background-color: rgb(165, 222, 229);
}