
/*website background-----------------------------*/
#maincore {
  background-color: #37726e;
}

/*Center website-------------------------*/
#centerweb{
  max-width: 1080px;
  margin: 0 auto;
  background-color: #004643;
  border: 4px solid black;
  border-radius: 50px;
}

/*logo header-------------------------*/
.logoheader{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  
}
.logo {
  color: black;
  font-size: 50px;
  padding-top: 25px;
  font-weight: bold;
  border: 4px solid black;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  background-color: #f9bc60;
  text-decoration: none;

}
.logo:hover {
  border: 6px solid black;
  padding: 15px;
}

/* header picture-------------------------*/
#hd1 {
  
  border: 4px solid black;
  border-radius: 50px;
  width: 100%;
  margin-left: -4px;
}

/*navigation-------------------------*/
nav {
  text-align: center;
  padding: 50px;
  
}
/* responsive nav adjust phones tablets and other small screens ----------------------------*/
@media only screen and (max-width: 860px) {
  nav {
    text-align: center;
    padding: 50px;
    display: grid;
  } 
} 
/* nav links + buttons ---------------------------*/
nav a {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 36px;
  border: 4px solid black;
  border-radius: 36px;
  padding: 10px;
  background-color: #f9bc60;
  text-decoration: none; 
  margin-top: -4px;

}
nav a:hover {
  border: 6px solid black;
  padding: 15px;
}
/* index.html main paige-----------------------------*/
.main {
  border: 4px solid black;
  border-radius: 50px;
  width: 100%;
  margin-left: -4px;
  background-color: #abd1c6;
  
}
.maintext {
  padding: 20px;
  text-align: justify;
  font-size: 25px;
}

#in1 {
  float: right;
  margin: 10px;
  height: 35%;
  width: 35%;
  border: 4px solid black;
  border-radius: 50px;
}
@media only screen and (max-width: 880px) {
  .maintext {
    font-size: 20px;
  }
  #in1 {
    float: right;
    width: 40%;
    border-radius: 25px;
  }
}
/* keeping.html -------------------------------*/
.care {
  border: 4px solid black;
  border-radius: 50px;
  width: 100%;
  margin-left: -4px;
  background-color: #abd1c6;
}
.care div {
  padding: 20px;
  text-align: justify;
  font-size: 25px;
}
#care1 {
  float: right;
  margin: 10px;
  height: auto;
  width: 50%;
  border: 4px solid black;
  border-radius: 50px;
}
@media only screen and (max-width: 880px) {
  .care {
    font-size: 20px;
  }
  #care1 {
    float: right;
    width: 40%;
    border-radius: 25px;
  }
}
/* galley.html -------------------------------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  border: 4px solid black;
  border-radius: 50px;
  margin-left: -4px;
  margin-right: -4px;
  background-color: #abd1c6;
  
}

.group1 {
  flex: 30%;
  max-width: 32%;
  padding: 0 4px;
  border-radius: 25px;
  text-align: center;
}

.group1 img {
  margin-top: 4px;
  vertical-align: middle;
  width: 90%;
  height: auto;
  border: 4px solid black;
  border-radius:25px;
}

@media only screen and (max-width: 820px) {
  .group1 {
    flex: 50%;
    max-width: 100%;
  }
}
/* footer -------------------------*/
.footer {
  text-align: center;
}
.f1 {
  color:#f9bc60;
  font-size: 20px;
  padding: 50px;
  display:inline-block;
  text-align: center;
}
.footer a {
  display: grid;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}
.footer a:hover {
  font-size: 30px;
}

.footernav {
  text-align: center;
  padding: 25px;
}
.footernav a {
  color:#f9bc60;
  text-decoration: none;
  padding:10px;
  font-size: 30px;
}
.footernav a:hover {
  font-size: 40px;
}
#desg {
  color: whitesmoke;
  text-align: center;
}